In [1]:
from datasets import load_dataset

ds = load_dataset("mandarjoshi/trivia_qa", "rc.nocontext")

c:\Users\kuba\OneDrive\Pulpit\studia\year 5\evaluation\assessment2\GroupPr\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
filtered_ds = ds.filter(lambda x: len(x['answer']['aliases']) == 1)

In [3]:
filtered_ds = filtered_ds['train']
len(filtered_ds)

6486

In [5]:
full_dataset = [{
    "question": q["question"],
    "answers": q["answer"]['aliases'][0]
} for q in filtered_ds
]
import pandas as pd

full_df = pd.DataFrame(full_dataset)

# uncomment the below if you need a full pre-selection csv

full_df.to_csv("trivia_qa.csv", index=False)

In [7]:
print(full_df.head().to_latex())

\begin{tabular}{lll}
\toprule
 & question & answers \\
\midrule
0 & How did Jock die in Dallas? & Helicopter accident \\
1 & Who wrote the novel Evening Class? & Maeve Binchy \\
2 & What was Prince's last No 1 of the 80s? & Batdance \\
3 & Nickelodeon was founded in 1979 by which company? & Warner Amex \\
4 & In cross-country bike racing, what do the initials BMX represent? & Bicycle moto x (cross) \\
\bottomrule
\end{tabular}

In [74]:
indices = []
with open("indices.txt", "r") as f:
    for line in f.readlines():
        indices.append(int(line.strip())-2)

In [ ]:
import pandas as pd

chosen_questions = [full_dataset[i] for i in indices]
chosen_questions

new_df = pd.DataFrame(chosen_questions)
new_df

,question,answers
0,Nickelodeon was founded in 1979 by which company?,Warner Amex
1,What is the maximum weight permitted for calve...,350 pounds. The minimum is 200 pounds
2,Under the rules outlined in the charter of the...,At least 6 grams. Silver medals must be at lea...
3,How many of the four Grand Slam trophies in te...,Only the Wimbledon trophy is gold; the others-...
4,On what vegetable did an ancient Egyptian plac...,The onion. Its round shape symbolized eternity
...,...,...
95,Who scored the first ever Golden Goal in the 1...,Laurent Blanc
96,Who crowned Napoleon as Emperor?,He crowned himself
97,The Titanic had three anchors. What was their...,31 tons
98,How long is a dog watch at sea?,Two hours
99,What is the capital of Switzerland?,Bern or Berne

In [79]:
new_df.to_csv("trivia_qa_chosen.csv", index=False)